{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css//styles.css' %}">
</head>

<body>

    <div id="outer">
        <div id="camera">
            <div id="lens"></div>
            <div id="light"></div>
        </div>
        <div id="com">
            <div id="screen">

 <!-- Card entering -->

                 <!-- <div id="welcome">
                    <div class="greet">WELCOME</div>
                    <div class="entercard">Please Enter Your Card</div>
                    <div id="cardinter">
                    <div class='card'>
                        <div class='chip'>
                          <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                          </ul>
                        </div>
                        <div class='number'>
                          <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                          </ul>
                        </div>
                        <div class='name'>
                          <ul>
                            <li></li>
                            <li></li>
                          </ul>
                        </div>
                        <div class='logo'></div>
                      </div>
                    </div>
                 </div> -->

<!-- Fingerprint detection -->

                <!-- <div id="fingerprint">
                  <div class="greet">WELCOME</div>
                    <h1 id="finger">Place Your Finger On The Scanner</h1>
                    <div class="scan">
                      <div class="fingerprint"></div>
                    </div>
                </div> -->

<!-- Entering PIN -->

                <!-- <div id="enterYourPIN">
                  <section class="PINAuthenticationScreen">
                    <h1>Enter PIN Code</h1>
                    <form action="" method="post" class="PINPassword">
                        <input type="password" class="PINPassword__input" readonly>
                        <input type="password" class="PINPassword__input" readonly>
                        <input type="password" class="PINPassword__input" readonly>
                        <input type="password" class="PINPassword__input" readonly>
                    </form>
                    <div class="keypad">
                        <button class="keypad__button keypad__button_num" id="num_9">1</button>
                        <button class="keypad__button keypad__button_num" id="num_8">2</button>
                        <button class="keypad__button keypad__button_num" id="num_7">3</button>
                        <button class="keypad__button keypad__button_num" id="num_6">4</button>
                        <button class="keypad__button keypad__button_num" id="num_5">5</button>
                        <button class="keypad__button keypad__button_num" id="num_4">6</button>
                        <button class="keypad__button keypad__button_num" id="num_3">7</button>
                        <button class="keypad__button keypad__button_num" id="num_2">8</button>
                        <button class="keypad__button keypad__button_num" id="num_1">9</button>
                        <button class="keypad__button keypad__button_submit" id="color_submit" disabled>Submit</button>
                        <button class="keypad__button keypad__button_num" id="num_0">0</button>
                        <button class="keypad__button keypad__button_del" id="color_del">&larr;</button>
                    </div>
                </section>
                </div> -->


<!-- Banking Screen -->


                <div id="banking">
                    <button class="bankscr" id="cashwth" onclick='window.location.href="cashwithdraw"'>CASH WITHDRAWAL</button>
                    <button class="bankscr" id="mini" onclick='window.location.href="ministatement"'>MINI STATEMENT</button>
                    <button class="bankscr" id="chck" onclick='window.location.href="bankbalance"'>CHECK BALANCE</button>
                    <button class="bankscr" id="pin" onclick='window.location.href="changepin"'>CHANGE PIN</button>
                    <button class="bankscr" id="cancel" onclick='window.location.href="/"'>Cancel</button>
                </div> 

<!-- 
              <div id="ministatement">
                  <h1 id="mini">Your statement is printing.......</h1>
                  <div class='container' style="display: none;">
                    <div class='trey'>
                      <div class='bottom'>
                        <div class='inner'></div>
                      </div>

                      <div class='pointer'></div>
                      <div class='paper2'>
                        <div class='e1'></div>
                        <div class='e2'></div>
                        <div class='e4'>
                          <div class='e41'></div>
                          <div class='text'></div>
                          <div class='e42'></div>
                        </div>
                        <div class='e5'>
                          <div class='e51'></div>
                          <div class='text'></div>
                          <div class='e52'></div>
                        </div>
                        <div class='e3'></div>
                        <div class='e6'></div>
                      </div>
                    </div>
                    <div class='body'>
                      <div class='top-perspective'>
                      </div>
                      <div class='bottom'></div>
                    </div>
                  </div>
                </div>  -->

<!-- Balance checking -->

                <!-- <div id="checkbalance">
                  <h1 id="balancecheck">Your current Balance is</h1>
                </div> -->

<!-- Changing PIN -->

                <!-- <div id="changepin">
                  <h1>Enter your New PIN</h1>
	              	<input type="password" id="new-pin" name="new-pin" required>
                  <input type="submit" value="Enter">
                </div> -->

<!-- Color Authentication -->

                <!-- <div class="colorAuthenticationScreen">
                  <h1>Enter Color Authentication Code</h1>
                  <form action="" method="post" class="colorPassword">
                      <input type="password" class="colorPassword__input" readonly>
                      <input type="password" class="colorPassword__input" readonly>
                      <input type="password" class="colorPassword__input" readonly>
                      <input type="password" class="colorPassword__input" readonly>
                  </form>
                  <section class="keypad">
                      <button class="keypad__button  keypad__button_num" id="color_0"></button>
                      <button class="keypad__button  keypad__button_num" id="color_1"></button>
                      <button class="keypad__button  keypad__button_num" id="color_2"></button>
                      <button class="keypad__button  keypad__button_num" id="color_3"></button>
                      <button class="keypad__button  keypad__button_num" id="color_4"></button>
                      <button class="keypad__button  keypad__button_num" id="color_5"></button>
                      <button class="keypad__button  keypad__button_num" id="color_6"></button>
                      <button class="keypad__button  keypad__button_num" id="color_7"></button>
                      <button class="keypad__button  keypad__button_num" id="color_8"></button>
                      <button class="keypad__button  keypad__button_submit" id="color_submit" disabled>Submit</button>
                      <button class="keypad__button  keypad__button_num" id="color_9"></button>
                      <button class="keypad__button  keypad__button_del" id="color_del">&larr;</button>
                  </section>
              </div> -->



                <div id="OTPScreen"></div> 
                <div id="policeAlertScreen"></div>
                <div id="processingscreen"></div>
                 <div id="collectMoney"></div>

            </div>
         <div class="atmbtn">
            <button id="b1"></button>
            <button id="b2"></button>
            <button id="b3"></button>
            <button id="b4"></button>
            <button id="b5"></button>
            <button id="b6"></button>
            <button id="b7"></button>
            <button id="b8"></button>
        </div>
            <p id="com1"><b>ATM</b></p>
        </div>

        <div id="card">
            <div id="indictr">
                <div id="box">

                </div>
                <div id="card2">

                     </div>


                     </div>
                    </div>
                </div>
             </div>

            </div>
</div>
<script src="{% static 'js//scripts.js' %}"></script>
</body>
</html>