{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css//styles.css' %}">

</head>

<body>

    <div id="outer">
        <div id="camera">
            <div id="lens"></div>
            <div id="light"></div>
        </div>
        <div id="com">
            <div id="screen">
<!-- Entering PIN -->

                <div id="enterYourPIN">
                  <section class="PINAuthenticationScreen">
                    <form method="GET" action="/accounts/verifypin" id="sendacc">
                        <label for="Accountno">PIN:</label>
                        <input type="text" id="acc_no" name="acc_no" style="display:none;">
                        <br>
                        <label for="pin">PIN:</label>
                        <input type="text" id="pin" name="pin">
                        <br>
                        <input type="submit" value="Submit">
                      </form>
                    <!-- <h1>Enter PIN Code</h1>
                    <form action="" method="post" class="PINPassword">
                        <input type="password" class="PINPassword__input" readonly>
                        <input type="password" class="PINPassword__input" readonly>
                        <input type="password" class="PINPassword__input" readonly>
                        <input type="password" class="PINPassword__input" readonly>
                    </form>
                    <div class="keypad">
                        <button class="keypad__button keypad__button_num" id="num_9">1</button>
                        <button class="keypad__button keypad__button_num" id="num_8">2</button>
                        <button class="keypad__button keypad__button_num" id="num_7">3</button>
                        <button class="keypad__button keypad__button_num" id="num_6">4</button>
                        <button class="keypad__button keypad__button_num" id="num_5">5</button>
                        <button class="keypad__button keypad__button_num" id="num_4">6</button>
                        <button class="keypad__button keypad__button_num" id="num_3">7</button>
                        <button class="keypad__button keypad__button_num" id="num_2">8</button>
                        <button class="keypad__button keypad__button_num" id="num_1">9</button>
                        <button class="keypad__button keypad__button_submit" id="color_submit" onclick='window.location.href="banking"'>Submit</button>
                        <button class="keypad__button keypad__button_num" id="num_0">0</button>
                        <button class="keypad__button keypad__button_del" id="color_del">&larr;</button>
                    </div> -->
                </section>
                </div> 

                <div id="OTPScreen"></div> 
                <div id="policeAlertScreen"></div>
                <div id="processingscreen"></div>
                 <div id="collectMoney"></div>

            </div>
         <div class="atmbtn">
            <button id="b1"></button>
            <button id="b2"></button>
            <button id="b3"></button>
            <button id="b4"></button>
            <button id="b5"></button>
            <button id="b6"></button>
            <button id="b7"></button>
            <button id="b8"></button>
        </div>
            <p id="com1"><b>ATM</b></p>
        </div>

        <div id="card">
            <div id="indictr">
                <div id="box">

                </div>
                <div id="card2">

                     </div>


                     </div>
                    </div>
                </div>
             </div>

            </div>
</div>
<script>
    let loginForm = document.getElementById("sendacc");
    loginForm.addEventListener("submit", (e) => {
    e.preventDefault();

  // handle submit
        var storedData = JSON.parse(localStorage.getItem('accounts'));
        console.log(storedData)
        // JSON.parse(storedData);
        var acc_no=storedData['acc_no'];
        console.log(acc_no)
        document.getElementById('acc_no').value=acc_no;
        console.log(document.getElementById('acc_no').value);
        loginForm.submit();
});
</script>
<script src="{% static 'js//scripts.js' %}"></script>
</body>
</html>