{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css//styles.css' %}">

</head>

<body>

    <div id="outer">
        <div id="camera">
            <div id="lens"></div>
            <div id="light"></div>
        </div>
        <div id="com">
            <div id="screen">
<!-- Entering PIN -->

                <p>Wrong pin restart process</p>
                <button onclick='window.location.href="/"'>Cancel</button>
                <div id="OTPScreen"></div> 
                <div id="policeAlertScreen"></div>
                <div id="processingscreen"></div>
                 <div id="collectMoney"></div>

            </div>
         <div class="atmbtn">
            <button id="b1"></button>
            <button id="b2"></button>
            <button id="b3"></button>
            <button id="b4"></button>
            <button id="b5"></button>
            <button id="b6"></button>
            <button id="b7"></button>
            <button id="b8"></button>
        </div>
            <p id="com1"><b>ATM</b></p>
        </div>

        <div id="card">
            <div id="indictr">
                <div id="box">

                </div>
                <div id="card2">

                     </div>


                     </div>
                    </div>
                </div>
             </div>

            </div>
</div>
<script src="{% static 'js/camera.js' %}"></script>
<script src="{% static 'js//scripts.js' %}"></script>
</body>
</html>